.modal-content {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: black;
  }

  .close-btn:hover{
    color: white;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  li button {
    background-color: #6a5acd;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 0.9rem;
    cursor: pointer;
  }
  
  li button:hover {
    background-color: #4b3dbd;
  }
  